input{
    width: 90%;
}

button{
    background: lightgreen;
    border: 1px solid black;
    margin-left: 5px;
    padding: 1px;
    cursor: pointer;
}

.footer{
    width: 100%;
    position: fixed;
    left: 5px;
    bottom: 5px;
    height: 25px;
}