<ul>
  <li *ngFor="let msg of messages">{{msg}}</li>
</ul>
<div class="footer">
  <input type="text" [(ngModel)]="userMessage" placeholder="Enter a message.." (keyup.enter)="sendMessage()" />
  <button (click)="sendMessage()">Send</button>
</div>